@import "@fontsource-variable/atkinson-hyperlegible-next";
@import "@fontsource-variable/atkinson-hyperlegible-mono";
@import "@fontsource-variable/geist";

@import "tailwindcss";
@import "../../frontend/src/colors.css";

@plugin "@tailwindcss/typography";

@source "../../frontend/src";

@theme {
  --font-sans: "Atkinson Hyperlegible Next Variable", ui-sans-serif, system-ui;
  --font-mono: "Atkinson Hyperlegible Mono Variable", monospace;

  --background: #f6f5df;
  --foreground: oklch(0.145 0 0);

  --color-primary: #111;
  --color-accent: #f59e0b;
  --color-muted-foreground: oklch(0.45 0 0);

  --color-dark-background: oklch(0.2 0 0);
  --color-dark-foreground: oklch(0.98 0 0);
  --color-dark-muted-foreground: oklch(0.8 0 0);
}

@layer base {
  html {
    @apply scroll-smooth antialiased;
    @apply font-sans;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  h1 {
    @apply mb-4 text-4xl font-bold;
  }
  h2 {
    @apply mb-3 text-2xl font-semibold;
  }

  a {
    @apply text-primary cursor-pointer transition-colors;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary rounded-lg px-4 py-2 text-white hover:opacity-90;
  }
}

@utility font-geist {
  --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  font-family: var(--font-sans);
}
