:root {
  --color-play-50: oklch(0.96 0.02 22);
  --color-play-100: oklch(0.93 0.04 20);
  --color-play-200: oklch(0.89 0.06 21);
  --color-play-300: oklch(0.85 0.08 21);
  --color-play-400: oklch(0.82 0.1 20);
  --color-play-500: oklch(0.78 0.13 20);
  --color-play-600: oklch(0.75 0.15 20);
  --color-play-700: oklch(0.72 0.17 19);
  --color-play-800: oklch(0.69 0.2 19);
  --color-play-900: oklch(0.66 0.23 19);
  --color-play-950: oklch(0.64 0.25 18);

  --color-play: var(--color-play-800);
  --color-play-light: color-mix(in oklch, var(--color-play), white 30%);
  --color-play-lighter: var(--color-play-300);

  --color-selected-50: oklch(0.98 0.02 154);
  --color-selected-100: oklch(0.96 0.03 157);
  --color-selected-200: oklch(0.94 0.05 155);
  --color-selected-300: oklch(0.93 0.06 156);
  --color-selected-400: oklch(0.91 0.08 156);
  --color-selected-500: oklch(0.89 0.1 156);
  --color-selected-600: oklch(0.87 0.11 156);
  --color-selected-700: oklch(0.85 0.13 156);
  --color-selected-800: oklch(0.83 0.14 156);
  --color-selected-900: oklch(0.82 0.16 156);
  --color-selected-950: oklch(0.8 0.17 156);

  --color-selected: #d0e758;
  --color-selected-light: #d2eb89;
  --color-selected-lighter: #ddf0a3;
  --color-selected-lightest: #ecf6cb;
  --color-selected-dark: #aadb24;
  --color-selected-darker: #8cb41d;
  --color-selected-darkest: #6d8c17;

  --color-selecting: oklch(0.8 0.147 84);

  --color-interval-50: oklch(0.95 0.03 308);
  --color-interval-100: oklch(0.85 0.07 307);
  --color-interval-200: oklch(0.76 0.12 306);
  --color-interval-300: oklch(0.66 0.17 304);
  --color-interval-400: oklch(0.55 0.23 301);
  --color-interval-500: oklch(0.51 0.24 299);
  --color-interval-600: oklch(0.44 0.21 299);

  --color-interval: var(--color-interval-300);
  --color-interval-light: var(--color-interval-100);

  --color-view: var(--color-selected);
}
